{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "func-names": "off",
        "no-underscore-dangle": "off",
        "no-use-before-define": "off",
        "import/prefer-default-export": "off",
        "react/destructuring-assignment": "warn",
        "react/forbid-prop-types": "warn"
    }
}